<div id="skills">
    <!-- <div class="column-1"> -->
    <div class="content lib-fram">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-nextjs"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nextjs/nextjs-original.svg">
            <img class="icon" alt="Edinelson-React"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg">
            <img class="icon" alt="Edinelson-NodeJs"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg">
            <img class="icon" alt="Edinelson-scss"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg">
        </div>

        <small> bibliotecas e frameworks</small>
    </div>

    <div class="content ling-programacao">
        <div class="icon-content">

            <img class="icon" alt="Edinelson-Ts"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg">

            <img class="icon" alt="Edinelson-Js"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg">

            <img class="icon" alt="Edinelson-c"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg">

            <img class="icon" alt="Edinelson-java"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg">
        </div>

        <small> linguagens de programação</small>

    </div>


    <div class="content ling-marcacao">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-HTML"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
            <img class="icon" alt="Edinelson-markdown"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/markdown/markdown-original.svg">
            <img class="icon" alt="Edinelson-CSS"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
        </div>
        <small> linguagens de marcação e estilo</small>
    </div>

    <div class="content banco-dados">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-mongodb"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg">
            <img class="icon" alt="Edinelson-mysql"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original.svg">
        </div>
        <small> bancos de dados</small>
    </div>
    <!-- </div> -->
    <!-- <div class="column-2"> -->
    <div class="content version">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-git"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg">
            <img class="icon" alt="Edinelson-github"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/github/github-original.svg">
        </div>

        <small>versionamento</small>
    </div>

    <div class="content amb-dev">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-vscode"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/vscode/vscode-original.svg">

            <img class="icon" alt="Edinelson-sublime" src="https://cdn.worldvectorlogo.com/logos/sublime-text.svg">

            <img class="icon" alt="Edinelson-netbeans"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Apache_NetBeans_Logo.svg/888px-Apache_NetBeans_Logo.svg.png">
        </div>

        <small>ambientes de desenvolvimento</small>
    </div>

    <div class="content ops">
        <div class="icon-content">
            <img class="icon" alt="Edinelson-linux"
                src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg">
            <img class="icon" alt="Edinelson-windows"
                src="http://download.seaicons.com/download/i58702/dakirby309/windows-8-metro/dakirby309-windows-8-metro-folders-os-windows-8-metro.ico">
        </div>

        <small>sistemas operacionais</small>
    </div>
    <!-- </div> -->
</div>

<link rel="stylesheet" href="skill.css">